.todo{
    background-color: transparent;
    margin: 10px;
    border-radius: 10px 0px 10px;
    display: grid;
    grid-template-columns: 1fr 30px 30px 30px;
    padding: 10px;
}
#tododone{
    grid-template-columns: 1fr 30px;
}

.update{
    color: #3c9241;
}

.delete{
    color: #b71c1c;
}
.done{
    color: #0072ff;
}

.todo svg{
    font-size: 25px;
}

.todo input{
    background-color: transparent;
    border: 0;
    outline: 0;
    font-weight: 500;
    font-weight: 700;
}

.todo svg:hover{
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 50%;
    padding: 4px;
}